.env
.idea/
build/
.gradle/
gradle/
/src/main/java/com/terransky/stuffnthings/secretsAndLies.java
/database.sqlite
/src/main/java/com/terransky/stuffnthings/interactions/commands/slashCommands/devs/test.java
/logs/
/Command Wiki
/kitsuToken.json
/jsons/*
